// A place to put common resets for your projects

* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

//  Correct the inability to style buttons in iOS and Safari.

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
